
@{
    Layout = null;
    List<SelectListItem> list = new List<SelectListItem>();
    list.Add(new SelectListItem() { Text = "Yes", Value = "Yes" });
    list.Add(new SelectListItem() { Text = "No", Value = "No" });
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
</head>
<body>
    <div> 
        @ViewBag.Message
    </div>
    <div>
        @using (Html.BeginForm("Test", "Home", FormMethod.Post))
        {
            <div>
                First Name: <input type="text" name="firstName" id="usrid" value=""/>

            </div>
            <div>
                Last Name: <input type="text" name="lastName" id="usrid" value=""/>
            </div>
            <div>
                Responce @Html.DropDownList("Responce", list,"select")

            </div>
            <div>
                Ice <input type="radio"  name="iceRadio"  value="crushed" /> Crushed
                <input type="radio"  name="iceRadio"  value="cubed" /> Cubed
            </div>
            <div> <input type="submit" name="Submit"/></div>
            <div>
                @Html.ActionLink("Home", "Index")
            </div>
        }
        @if (@ViewBag.flagvalue)
        {
            <p>Your name is @ViewBag.First</p>
            <p>You prefer your ice @ViewBag.Ice</p>

        }

    </div>
</body>
</html>
