
@{
    Layout = null;
    List<SelectListItem> list = new List<SelectListItem>();
    list.Add(new SelectListItem() { Text = "Yes", Value = "Yes" });
    list.Add(new SelectListItem() { Text = "No", Value = "No" });
}

<!DOCTYPE html>

<html>
<head>
<title> Test Input MVC </title>
<meta name="viewport" content="width=device-width" />
<link href="~/Content/style.css" rel="stylesheet" />
 
<body>
    <div class="inputbox">
        @using (Html.BeginForm("Test", "Home", FormMethod.Post))
        {
            <h1>Test Input MVC</h1>
            <p>First Name:</p>
            <input type="text" name="firstName" id="usrid" value="" placeholder="Enter First Name"/>
            <p>Last Name:</p>
            <input type="text" name="lastName" id="usrid" value="" placeholder="Enter Last Name"/>
       
            <p>
                Responce @Html.DropDownList("Responce", list, "select")

            </p>
            <p>
                Ice <input type="radio" name="iceRadio" value="crushed" /> Crushed
            <input type="radio" name="iceRadio" value="cubed" /> Cubed
            </p>
            <p> <input type="submit" name="Submit" /></p>
            <p>
                @Html.ActionLink("Home", "Index")
            </p>
        }
        @if (@ViewBag.flagvalue)
        {
            <p>Your name is @ViewBag.First</p>
            <p>You prefer your ice @ViewBag.Ice</p>

        }

    </div>
</body>
</head>
</html>